<!--The content below is only a placeholder and can be replaced.-->
<div class="home-container" style="text-align:center">
  <div class="nav-container">
  <h1 class="title">
    <img class="main-icon" src="../assets/icon.svg">
    {{ title }}
  </h1>
  </div>
  <div class="router-container">
    <a class="router-link" routerLink="/crisis-center" routerLinkActive="active">Lien 1</a>
    <a class="router-link" routerLink="/heroes" routerLinkActive="active">Lien 2</a>
    <a class="router-link" routerLink="/heroes" routerLinkActive="active">Lien 3</a>
  </div>
  <router-outlet></router-outlet>
  <mat-divider> </mat-divider>
  <div class="nike-logo-container">
    <img class="nike-logo-img" src="../assets/nike.svg">
  </div>
  <div class="scroller-container">
  <div class="scroller">
    scroller
    <mat-icon class="arrow-back">keyboard_arrow_down</mat-icon>
  </div>
  </div>
</div>
