<!--The content below is only a placeholder and can be replaced.-->
<div class="home-container" style="text-align:center">
  <div class="nav-container">
  <h1 class="title">
    <img class="main-icon" src="../assets/icon.svg">
    {{ title }}
  </h1>
  </div>
  <div class="router-container">
    <a class="router-link" routerLink="/crisis-center" routerLinkActive="active">Crisis</a>
    <a class="router-link" routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a class="router-link" routerLink="/heroes" routerLinkActive="active">Babouin</a>
  </div>
  <router-outlet></router-outlet>
  <mat-divider> </mat-divider>
</div>
